<!DOCTYPE html>
<html>
  <head>
    <title>Puntiresse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:image" content="https://i.imgur.com/qSZcoMc.png"/>
    <meta property="og:description" content="Puntiresse is image sharing and social media service full stack application clone, inspired by Pinterest."/>

    <link rel="icon" href="<%= image_url('favicon.png') %>" type="image/x-icon">

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
        };
      </script>
    <% end %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('puntiresse_logo.png') %>";
      window.glassURL = "<%= image_url('search-solid.svg') %>";
      window.profileURL = "<%= image_url('profile.png') %>";
      window.profile2URL = "<%= image_url('profile2.svg') %>";
      window.dropdownURL = "<%= image_url('dropdown.svg') %>";
      window.googleURL = "<%= image_url('google.svg') %>";
      window.facebookURL = "<%= image_url('facebook.svg') %>";
      window.xURL = "<%= image_url('x.svg') %>";

      window.p1 = "<%= image_url('p1.jpg') %>";
      window.p2 = "<%= image_url('p2.jpg') %>";
      window.p3 = "<%= image_url('p3.jpg') %>";
      window.p4 = "<%= image_url('p4.jpg') %>";
      window.p5 = "<%= image_url('p5.jpg') %>";
      window.p6 = "<%= image_url('p6.jpg') %>";
      window.p7 = "<%= image_url('p7.jpg') %>";

    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
